# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Node (将来用)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Env
.env*.local
