(api_routes) {
	handle / {
		header Content-Type application/json
		respond "{\"branches\":[\"main\",\"develop\"]}" 200
	}

	redir /main /main/ 308
	handle_path /main/* {
		reverse_proxy main-bff-blue:3001 {
			header_up X-Forwarded-Prefix /main
		}
	}

	redir /develop /develop/ 308
	handle_path /develop/* {
		reverse_proxy develop-bff-blue:3001 {
			header_up X-Forwarded-Prefix /develop
		}
	}

	respond "not found" 404
}

api.flovia402.com {
	import api_routes
}
